@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  background: #141d26;
}

main {
  width: 60%;
  padding: 35px 30px;
  flex-direction: column;
  border-radius: 10px;
  background: #243447;
}

header {
  display: flex;
  justify-content: space-between;
}

header .profile {
  display: flex;
}

header .profile .image {
  height: 50px;
  width: 50px;
  margin-right: 0.6rem;
  border-radius: 999px;
  overflow: hidden;
  background: whitesmoke;
}

header .profile .image img {
  width: 100%;
}

header .profile .label {
  display: flex;
  padding: 4px 0;
  justify-content: space-between;
  flex-direction: column;
}

header .profile .label h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 23px;
  color: white;
}

header .profile .label h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

header .icon {
  margin: auto 0;
  height: 30px;
}

article p {
  max-width: 95%;
  margin: 15px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
}

article p span {
  color: #1da1f2;
}

footer {
  display: flex;
  flex-direction: row;
  height: 1rem;
}

footer .icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.4rem;
}

footer h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 375px) {
  html {
    font-size: 14px;
  }
  main {
    padding: 25px 15px;
    width: 80%;
  }
  header .profile .image {
    margin-right: 0.3rem;
  }

  header .icon {
    height: 25px;
  }

  footer h5 {
    font-size: 0.9rem;
  }
}
