@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  background: #141d26;
}

main {
  width: 60%;
  padding: 35px 30px;
  margin: auto;
  flex-direction: column;
  border-radius: 10px;
  background: #243447;
}

header {
  display: flex;
  justify-content: space-between;
}

header .profile {
  display: flex;
}

header .profile .image {
  height: 50px;
  width: 50px;
  margin-right: 22px;
  border-radius: 999px;
  overflow: hidden;
  background: whitesmoke;
}

header .profile .image img {
  width: 100%;
}

header .profile .label {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  flex-direction: column;
}

header .profile .label h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: white;
}

header .profile .label h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

header .icon {
  margin: auto 0;
  height: 30px;
  width: 30px;
}

article p {
  max-width: 95%;
  margin: 15px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
}

article p span {
  color: #1da1f2;
}

footer {
  display: flex;
  flex-direction: row;
  height: 25px;
}

footer .icon {
  height: 100%;
  margin-right: 10px;
}

footer h5 {
  margin-right: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
}
